@font-face {
  font-family: 'abc';
  src:  url('../fonts/abc.eot?rpf6ms');
  src:  url('../fonts/abc.eot?rpf6ms#iefix') format('embedded-opentype'),
    url('../fonts/abc.ttf?rpf6ms') format('truetype'),
    url('../fonts/abc.woff?rpf6ms') format('woff'),
    url('../fonts/abc.svg?rpf6ms#abc') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'abc' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e90e";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-youtube:before {
  content: "\e90c";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-linkedin:before {
  content: "\e90b";
}
.icon-location-pin:before {
  content: "\e906";
}
.icon-next:before {
  content: "\e907";
}
.icon-business-1:before {
  content: "\e900";
}
.icon-building:before {
  content: "\e901";
}
.icon-transportation:before {
  content: "\e902";
}
.icon-arrows:before {
  content: "\e903";
}
.icon-seo-and-web-1:before {
  content: "\e904";
}
.icon-business:before {
  content: "\e905";
}
