/*
Theme Name: ABC
Text Domain: abc
Version: 1.0.1
Description: abc | Make relationships trough business
Author: Fegno
Author URI: https://fegno.com
Theme URI: https://fegno.com

*/

/* -------------------------------------------------------------------------- */

/*	0. CSS Reset
/* -------------------------------------------------------------------------- */


html,
body {
	border: none;
	margin: 0;
	padding: 0;
}

p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
	border: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}

blockquote::before,
blockquote::after {
	content: "";
}
a{
	color: #fff;
}
a, a:hover{
	text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
button:focus {
    outline: 0;
}


/* Reset Bootsrtap ------------------------------------- */

@media (min-width: 576px) and (max-width: 767px) {
	.container, .container-sm {
	    max-width: 97%;
	}
}
@media (min-width: 1600px){
	.container-lg, .container-md, .container-sm, .container-xl {
	    max-width: 1500px;
	}
	.container {
	    max-width: 1300px;
	}
	footer .container {
	    max-width: 1450px;
	}
}
.h1, h1{
	font-size: 40px;
}
.h2, h2{
	font-size: 35px;
}
.h3, h3{
	font-size: 30px;
}
.h4, h4{
	font-size: 25px;
}
.h5, h5{
	font-size: 22px;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4{
	color: #E1BF7A;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-weight: 100;
}


/* -------------------------------------------------------------------------- */

/*	1. Document Setup
/* -------------------------------------------------------------------------- */


html {
	font-size: 62.5%; /* 1rem = 10px */
	/* scroll-behavior: smooth; */
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
	box-sizing: border-box;
	color: #fff;
	font-family: 'Antic Didone', serif;
	font-size: 1.8rem;
	font-weight: 100;
	text-align: left;
	background-color: #000;
}

@supports ( font-variation-settings: normal ) {

	body {
		font-family: 'Antic Didone', serif;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	word-break: break-word;
	word-wrap: break-word;
}

#site-content {
	overflow: hidden;
}


/* Clearing ---------------------------------- */

.group::after,
.entry-content::after {
	clear: both;
	content: "";
	display: block;
}


/* Base Transitions -------------------------- */

a,
path {
	transition: all 0.15s linear;
}


/* Screen Reader Text ------------------------ */

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	right: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}


/* Skip Link --------------------------------- */

.skip-link {
	left: -9999rem;
	top: 2.5rem;
	z-index: 999999999;
	text-decoration: underline;
}

.skip-link:focus {
	display: block;
	left: 6px;
	top: 7px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	line-height: normal;
	padding: 15px 23px 14px;
	z-index: 100000;
	right: auto;
}

/* Header --------------------------------- */
.navbar-expand-sm .navbar-toggler {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 34px;
}
@media (min-width: 576px){
	.navbar-expand-sm .navbar-collapse{
		display: none !important;
	}
	.navbar-expand-sm .navbar-collapse.show{
		display: flex !important;
	}
}
.navbar-dark .navbar-toggler{
	float: right;
	border: 0;
	width: 45px;
	position: relative;
}
.navbar-toggler span {
    width: 30px;
    height: 4px;
    background-color: #ed3237;
    display: block;
    margin-bottom: 7px;
    border-radius: 3px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.navbar-toggler span:last-child{
	margin-bottom: 0;
}
.navbar-toggler span.white-bar{
	background-color: #fff;
	width: 15px;
	margin-left: 10px;
}
.navbar-dark .navbar-toggler:focus {
    outline: none;
}
.navbar-dark .navbar-toggler:not(.collapsed){
	margin-top: 12px;
}
.navbar-dark .navbar-toggler:not(.collapsed) span{
	background-color: #fff;
	position: absolute;
}
.navbar-dark .navbar-toggler:not(.collapsed) span:first-child{
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.navbar-dark .navbar-toggler:not(.collapsed) span:last-child{
	transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.navbar-dark .navbar-toggler:not(.collapsed) span.white-bar{
	opacity: 0;
}
.navbar-dark .navbar-nav .nav-link{
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #e1bf7a;
}
.navbar-dark .navbar-nav .current-menu-item .nav-link:before {
	position: absolute;
	content: '';
	height: 4px;
	width: 50%;
	left: 25%;
	bottom: 0;
	border-radius: 4px;
	background-color: #e1bf7a;
}
.navbar-collapse{
	text-align: right;
}
.backdrop:before {
    position: fixed;
    top: 0;
    bottom: 0;
    content: '';
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    z-index: -1;
}
.backdrop.show:before{
    z-index: 9;
	visibility: visible;
	opacity: 1;
}
header .navbar{
	transition: top 0.4s ease-in-out;
}
.navbar.nav-up {
    top: -140px;
}
.navbar.nav-down{
	background-color: rgba(0,0,0,0.8);
}
.navbar a.navbar-brand img {
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    max-width: 152px;
}
.navbar.nav-up a.navbar-brand img,
.navbar.nav-down a.navbar-brand img {
    max-width: 100px;
}
header .dropdown{
	display: inline-block;
    margin-right: 20px;
}
header .globe{
	border: 0;
    position: relative;
    float: left;
    padding-left: 32px;
    background: transparent;
    color: #fff;
    font-weight: 600;
	margin-right: 20px ;
}
header .globe:before{
	background-image: url(images/world.svg);
    background-size: 100% auto;
    background-color: transparent;
    width: 30px;
    height: 30px;
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: -2px;
    bottom: 0;
}
header .globe:after{
	background-image: url(images/down-chevron.png);
    background-size: 100% auto;
    background-color: transparent;
    width: 15px;
    height: 15px;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: -21px;
    background-repeat: no-repeat;
    margin: auto;
	transition: all ease .1s;
}
header .globe[aria-expanded="true"]:after{
    transform: rotate(180deg);
}
header .dropdown-menu {
	background-color: rgba(0, 0, 0, 0.6);
	min-width: 15rem;
	padding-bottom: 0;
}
.navbar-dark .dropdown-menu .navbar-nav .nav-link{
	font-size: 20px;
	color: #fff;
}
.navbar-dark .dropdown-menu .navbar-nav .nav-link:hover{
	color: #e1bf7a;
}


/* Slider ------------------------------------- */

.social-media-icon {
    display: flex;
    line-height: 32px !important;
    align-items: center;
    color: #fff;
    width: 32px !important;
    height: 32px !important;
}
.social-media-icon a{
	color: #fff;
}
.custom .tp-bullet:hover, 
.custom .tp-bullet.selected {
    border-color: #ed3237;
    background: transparent;
}
.custom .tp-bullet {
    border: 1px dashed transparent;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.custom .tp-bullet:before{
	content: '';
	width: 5px;
	height: 5px;
	background-color: #fff;
	display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 7px;
}
.skip-to{
	width: 36px !important;
	height: 36px !important;
	-webkit-animation-name: bounce;
  	animation-name: bounce;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
	0%, 20%, 40%, 60%, 70%, 90% {-webkit-transform: translateY(0);}
	20% {-webkit-transform: translateY(-5px);}
} 

@keyframes bounce { 
	0%, 20%, 40%, 60%, 70%, 90% {transform: translateY(0);}
	20% {transform: translateY(-5px);}
} 
.skip-to a{
	line-height: 44px !important;
	color: #fff;
	display: block;
}
.skip-to a i{
	display: block;
	font-size: 26px;
	text-align: center !important;
}
.skip-to a i:before{
	position: absolute;
	content: '';
	width: 1px;
	height: 12px;
	border-right: 1px dashed #fff;
	left: 50%;
    top: 5px;
    transform: translateX(-1px);
}


/* Home page ------------------------------------- */

.about-abc .about-abc-content .wpb_wrapper{
	position: relative;
}
.about-abc.vc_row[data-vc-full-width] {
	overflow: visible;
}
@media (min-width: 1200px){
	.chairman-desk-blurb{
		padding-left: 100px !important;
		padding-right: 100px !important;
	}
	.about-blurb{
		padding-right: 100px;
	}
	
}
@media (min-width: 1024px){
	.about-abc .wpb_text_column {
		max-width: 830px;
		margin-left: 210px;
	}
	.abt-sec-img.wpb_single_image {
	    position: absolute;
	    width: 938px;
	    top: 60px;
	    left: -480px;
	    z-index: 9;
	    max-width: 648px;
		overflow: hidden;
	}
}
@media (max-width: 1023px){
	.about-abc-content.vc_col-sm-8 {
		width: 100%;
	}	
	.about-abc-content > div{
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
}
.about-abc p{
	font-size: 22px;
}
.dark-bg {
    color: #fff;
}
.glimpses ul {
	position: relative;
}
.glimpses.glimpses-left ul {
    margin-right: 0;
}
@media (min-width: 1200px){
	.glimpses ul {
		margin-right: 84px;
	}
	.glimpses.glimpses-left ul {
	    margin-left: 84px;
	}
}
.glimpses ul li{
	color: #E1BF7A;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 80px 24px;
}
.glimpses.glimpses-left ul:before{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1px;
	background: -moz-linear-gradient(top, #000000 0%, #453a25 25%, #e1bf7a 50%, #453a25 75%, #000000 100%); 
	background: -webkit-linear-gradient(top, #000000 0%,#453a25 25%,#e1bf7a 50%,#453a25 75%,#000000 100%); 
	background: linear-gradient(to bottom, #000000 0%,#453a25 25%,#e1bf7a 50%,#453a25 75%,#000000 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}
.glimpses ul li:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
}
.glimpses ul li:before{
	background: -moz-linear-gradient(left, #e1bf7a 20%, #453a25 75%, #000000 100%); 
	background: -webkit-linear-gradient(left, #e1bf7a 20%,#453a25 75%,#000000 100%);
	background: linear-gradient(to right, #e1bf7a 20%,#453a25 75%,#000000 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1bf7a', endColorstr='#000000',GradientType=1 );
}
.glimpses.glimpses-left ul li:before{
	background: -moz-linear-gradient(left, #000000 0%, #453a25 25%, #e1bf7a 80%);
	background: -webkit-linear-gradient(left, #000000 0%,#453a25 25%,#e1bf7a 80%);
	background: linear-gradient(to right, #000000 0%,#453a25 25%,#e1bf7a 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e1bf7a',GradientType=1 ); 
}
.glimpses ul li:last-child:before{
	content: none;
}
.glimpses ul li [class^="icon-"]:before, 
.glimpses ul li [class*=" icon-"]:before {
	font-size: 45px;
}
.glimpses .vc_column-inner{
	padding: 0 !important;
}
.blog-posts {
    overflow-x: hidden;
}
.blog-posts figure{
	margin-bottom: 47px;
}
.blog-posts figure img{
	max-width: 100%;
	height: auto;
}
.blog-posts .post-date{
	color: #fff;
	font-size: 16px;
	margin-bottom: 12px;
}
.blog-posts h3{
	font-size: 32px;
	margin-bottom: 16px;
}
.blog-posts h3 a{
	color: #E1BF7A;
}
.blog-posts h3 a:hover{
	color: #f3d79e;
}
.blog-posts .post-excerpt p{
	color: #fff;
}
.blog-posts .owl-item .blog-content,
.blog-posts .owl-item{
	transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.blog-posts .owl-item:not(.active) {
	transform: scale(0.7, 0.7);
	-moz-transform: scale(0.7, 0.7);
	-webkit-transform: scale(0.7, 0.7);
	opacity: 0.5;
}
.blog-posts .owl-item:not(.active) .blog-content,
.blog-posts .owl-item:not(.active) figure .flip-card-back{
	opacity: 0;
}
.blog-posts .col-md-6.col-lg-6 {
    padding-left: 41px;
    padding-right: 41px;
}
.blog-posts .owl-nav{
	display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20%;
    width: 100%;
    padding: 0 20px;
}
.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev{
	text-align: right;
	border: 1px dashed rgb(237, 50, 55);
    border-radius: 50%;
    padding: 0px;
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    position: relative;
    padding: 0 5px !important;
    line-height: 22px;
}
.owl-carousel .owl-nav button.owl-prev{
	transform: rotate(175deg);
	-moz-transform: rotate(175deg);
	-webkit-transform: rotate(175deg);
}
.owl-carousel .owl-nav button.owl-next:before, 
.owl-carousel .owl-nav button.owl-prev:before{
	content: "\e907";
	font-family: 'abc';
	font-size: 12px;
}
.owl-carousel .owl-nav button.owl-next:after, 
.owl-carousel .owl-nav button.owl-prev:after{
	content: '';
    width: 14px;
    height: 1px;
    border-top: 1px dashed #fff;
    position: absolute;
    left: 8px;
    top: 14px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.owl-carousel .owl-nav button.owl-next:focus, 
.owl-carousel .owl-nav button.owl-prev:focus{
	outline: 0;
}
.owl-carousel .owl-nav button.owl-next span, 
.owl-carousel .owl-nav button.owl-prev span{
	display: none;
}
.section-counter .wpb_text_column p{
	text-align: center;
	color: #E1BF7A;
	font-size: 27px;
}
.section-counter > div:before{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	content: '';
	width: 1px;
	background: #000000;
	background: -moz-linear-gradient(top, #000000 0%, #453a25 25%, #e1bf7a 100%);
	background: -webkit-linear-gradient(top, #000000 0%,#453a25 25%,#e1bf7a 100%);
	background: linear-gradient(to bottom, #000000 0%,#453a25 25%,#e1bf7a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e1bf7a',GradientType=0 );
}
.section-counter > div:last-child:before{
	content: none;
}
.section-contact p{
	color: #E1BF7A;
	font-size: 30px;
}
.section-contact a{
	color: #E1BF7A;	
	letter-spacing: 4px;
	line-height: 36px;
	font-size: 20px;
}
.section-contact a:hover,
.section-contact a:hover .icon-next {
    color: #fff;
}
.section-contact a .icon-next{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: inline-block;
	border: 1px dashed #ED3237;
	line-height: 36px;
    text-indent: 18px;
    font-size: 10px;
    position: relative;
    color: #ED3237;
    margin-left: 15px;
    float: right;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.section-contact a .icon-next:after {
    content: '';
    width: 17px;
    height: 1px;
    border-top: 1px dashed #ED3237;
    position: absolute;
    left: 8px;
    top: 17px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.section-contact a:hover .icon-next,
.section-contact a:hover .icon-next:after{
	border-color: #fff;
}
@media (max-width: 992px){
	.vc_custom_1595334352191{
		padding-top: 0 !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}


/* Footer ------------------------------------- */

footer{
	margin-top: 141px;
}
.footer-widgets{
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	padding-bottom: 50px;
	margin-bottom: 30px;
	padding-top: 76px;
	color: #FFFFFF;
}
.footer-widgets h3{
	font-size: 25px;
	color: #E1BF7A;
	margin-bottom: 33px;
}
.footer-widgets ul{
	list-style-type: none;
	padding-left: 0;
}
.footer-widgets ul a{
	padding-left: 0;
	padding-right: 0;
	color: #fff;
}
.footer-widgets img{
	margin-bottom: 15px;
}
.footer-credits {
	margin-bottom: 40px;
}
.social-media-links{
	text-align: right;
}
.social-media-links a{
	width: 41px;
	height: 41px;
	display: inline-block;
	text-align: center;
	line-height: 46px;
	color: #fff;
	border-radius: 50%;
	margin: 0 2px;
	text-decoration: none;
	font-size: 14px;
	background-color: #121111;
}
.social-media-links a:hover{
	background-color: #ED3237;
}
.social-media-links a:last-child{
	margin-right: 0;
}
@media (max-width: 767px){
	.footer-credits{
		text-align: center;
	}
	.social-media-links {
	    text-align: center;
	    margin-top: 20px;
	}
	footer .widget {
		margin-bottom: 20px;
	}
	.footer-widgets h3{
		margin-bottom: 10px;
	}
}


/* Animations ------------------------------------- */

.owl-item.active .flip-card {
	background-color: transparent;
	max-width: 100%;
	width: 300px;
	height: 300px;
	perspective: 1000px;
}

.owl-item.active  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.owl-item.active  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.owl-item.active  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.owl-item.active  .flip-card-front {
	background-color: #bbb;
	color: black;
}

.owl-item.active  .flip-card-back {
	background-color: #151515;
	color: white;
	transform: rotateY(180deg);
}
.flip-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
}
.map{
	min-height: 494px !important;
    background-image: url(images/map.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.map .location{
	position: absolute;
	width: 38px;
	height: 61px;
	background-size: cover;
    opacity: 0;
}
.map .location.wpb_start_animation{
	opacity: 1;
}
.map .location.china{
	background-image: url(images/china.svg);
	right: 310px;
    top: 70px;
}
.map .location.qatar{
	background-image: url(images/qatar.svg);
	right: 470px;
    top: 126px;
}
.map .location.uae{
	background-image: url(images/uae.svg);
}
.map .location.oman{
	background-image: url(images/oman.svg);
	right: 450px;
    top: 160px;
}
.map .location.tanzania{
	background-image: url(images/tanzania.svg);
	right: 500px;
    top: 253px;
}
.map-slider{
	height: 7px;
	position: relative;
	width: 90%;
    margin: 0 auto;
}
.map-slider-progress{
	height: 7px;
	width: 0;
	background-color: #fff;
	transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;

}
.map-slider .map-dot{
	position: absolute;
	opacity: 0;
	display: inline-block;
	transform: translate(-50%, -8px);
	-moz-transform: translate(-50%, -8px);
	-webkit-transform: translate(-50%, -8px);
	transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
	width: 37px;
}
.map-slider .map-dot:before {
	content: '';
	width: 37px;
	height: 37px;
	position: absolute;
	background: #ff636e;
	background: -moz-linear-gradient(left, #ff636e 0%, #ff406f 100%);
	background: -webkit-linear-gradient(left, #ff636e 0%,#ff406f 100%);
	background: linear-gradient(to right, #ff636e 0%,#ff406f 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff636e', endColorstr='#ff406f',GradientType=1 );
	border-radius: 50%;
	top: -15px;
}
.map-slider .map-dot.qatar{
	left: 33.33%;
}
.map-slider .map-dot.qatar:before{
	background-color: #FFC853;
	background: -moz-linear-gradient(left, #FFC853 0%, #FFA157 100%);
	background: -webkit-linear-gradient(left, #FFC853 0%,#FFA157 100%);
	background: linear-gradient(to right, #FFC853 0%,#FFA157 100%); 
}
.map-slider .map-dot.oman{
	left: 66.66%;
}
.map-slider .map-dot.oman:before{
	background-color: #8CC6F0;
	background: -moz-linear-gradient(left, #8CC6F0 0%, #8C46F0 100%);
	background: -webkit-linear-gradient(left, #8CC6F0 0%,#8C46F0 100%);
	background: linear-gradient(to right, #8CC6F0 0%,#8C46F0 100%); 
}
.map-slider .map-dot.tanzania{
	left: 100%;
}
.map-slider .map-dot.tanzania:before{
	background-color: #8CC6F0;
	background: -moz-linear-gradient(left, #8CC6F0 0%, #8C91F0 100%);
	background: -webkit-linear-gradient(left, #8CC6F0 0%,#8C91F0 100%);
	background: linear-gradient(to right, #8CC6F0 0%,#8C91F0 100%); 
}
.map-slider .map-dot span {
    margin-top: 25px;
    display: block;
    white-space: nowrap;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    color: #E1BF7A;
}
@media (min-width: 576px){
	.map-slider .map-dot span {
	    font-size: 35px;
	}
}
@media (max-width: 767px){
	h1, h2, h3, h4, h5{
		margin-bottom: 25px;
	}
	.about-abc-content p{
			color: #000;
	}
	.about-abc-content h2{
		color: #000 !important;		
	}
	.about-abc-content .vc_column-inner{
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
	.about-abc .wpb_text_column{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.glimpses-parallax .vc_parallax {
		min-height: 500px;
	}
	.glimpses.glimpses-left ul{
		margin-left: 0;
	}
	.glimpses ul{
		margin-right: 0;
	}
	.glimpses.glimpses-left ul:before{
		content: none;
	}
	.glimpses.glimpses-left ul li:before,
	.glimpses.glimpses-left ul li:last-child:before,
	.glimpses ul li:before,
	.section-counter > div:before{
		content: '';
		background: -moz-linear-gradient(left, #000000 0%, #453a25 20%, #e1bf7a 50%, #453a25 80%, #000000 100%);
		background: -webkit-linear-gradient(left, #000000 0%,#453a25 20%,#e1bf7a 50%,#453a25 80%,#000000 100%);
		background: linear-gradient(to right, #000000 0%,#453a25 20%,#e1bf7a 50%,#453a25 80%,#000000 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
	}
	.glimpses.glimpses-left .wpb_text_column {
		margin-bottom: 0;
	}
	.map .location.china {
	    right: 110px;
	    top: 150px;
	}
	.map .location.qatar {
	    right: 175px;
	    top: 166px;
	}
	.map .location.oman {
	    right: 190px;
	    top: 190px;
	}
	.map .location.tanzania {
	    right: 195px;
	    top: 223px;
	}
	.section-counter > div{
		margin-top: 40px;
	}
	.section-counter > div:before{
		top: auto;
		left: 0;
		width: 100%;
		height: 1px;
	}
	.skip-to a i {
	    font-size: 17px;
	    height: 30px;
	}
	.skip-to a i:before{
		height: 12px;
	}
	#rev_slider_1_1_wrapper{
		max-height: 500px !important;
	}
}
@media (max-width: 575px){
	.map .location{
		background-size: 19px;
	    background-repeat: no-repeat;
	    background-position: center;
	}
	.map .location.china {
	    right: 22%;
	    top: 34%;
	}
	.map .location.qatar {
	    right: 32%;
	    top: 37%;
	}
	.map .location.oman {
	    right: 34%;
	    top: 36%;
	}
	.map .location.tanzania {
	    right: 37%;
	    top: 49%;
	}
	.map-slider .map-dot {
	    width: 24px;
	    height: 24px;
	    top: -8px;
	}
	.map-slider .map-dot:before {
		width: 24px;
	    height: 24px;
	    top: 6px;
	}
	.map-slider .map-dot span {
	    margin-top: 35px;
	}
}


/* About *************************************************/

@media (min-width: 1024px){
	body:not(.home) {
	    padding-top: 250px;
	}
}
body:not(.home) {
    padding-top: 150px;
}
.corporate-video{
	position: relative;
}
.corporate-video:before{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    content: '';
    z-index: 9;
}
.corporate-video .vc_column_container {
	position: relative;
	z-index: 9;
}
.corporate-video .icon-youtube.btn-button {
	padding: 0;
    background-color: transparent;
    font-size: 156px;
}
.corporate-video .icon-youtube.btn-button:focus{
	outline: 0;
	box-shadow: none;
}
.corporate-video .icon-youtube.btn-button:before{
	color: rgba(255,255,255,0.5);
}
#who-we-are p {
	font-size: 22px;
}
.teams .slides {
    max-width: 503px;
    margin: 0 auto;
}
@media (min-width: 768px){
	.abc-principle{
		padding-bottom: 800px;
	}
}
@media (max-width: 767px){
	.abc-principle{
		padding-bottom: 200px;
	}}
@media (min-width: 1024px){
	.vision-content .vc_column-inner > .wpb_wrapper{
		padding-left: 175px;
	}
	#who-we-are .vc_column-inner {
		padding-right: 80px;
	}
	.row-vision-mission{
		margin-bottom: 150px;
	}
}
@media (max-width: 767px){
	.vision-content {
		margin-top: 150px;
	}
}
@media (max-width: 575px){
	.vc_row.vc_column-gap-30{
		margin-left: -15px !important;
    	margin-right: -15px !important;
	}
	.vc_row.vc_column-gap-30>.vc_column_container {
	    padding: 0 !important;
	}
}
.abc-team img{
	max-height: 100% !important;
	width: 100%;
    object-fit: cover;
}
.owl-carousel .owl-item img {
    height: auto;
}


/* News and Events *************************************************/

.image-caption {
    display: flex;
    flex-wrap: wrap;
}
.image-caption img {
	margin-bottom: 47px;
}
.image-caption h2 {
	order: 2;
	color: #fff;
	font-size: 22px;
}
@media (max-width: 767px){
	.text-sm-center{
		text-align: center !important;
	}
	.image-caption {
		justify-content: center;
	}
}


/* Single post *************************************************/

.related-posts{
	margin-top: 140px;
}
.related-posts figure{
	margin-bottom: 27px;
}
.related-posts p{
	margin-bottom: 18px;
}
.related-posts h2 {
	font-size: 32px;
}
.related-posts h2 a{
	color: #E1BF7A;
}
.related-posts .post-date i{
	margin-right: 15px;
}
@media (min-width: 768px){
	h3.post-title {
	    margin-bottom: 115px;
	}
}
h3.post-image {
    margin-bottom: 30px;
}
figure.featured-image{
	margin-bottom: 20px;
}
@media (min-width: 1024px){
	.post-content{
		margin: 0 50px;
	}
}
@media (max-width: 767px){
	.related-images h2{
		text-align: center;
	}
}


/* animations *************************************************/

@-webkit-keyframes bounceInDown {
    0%,
    100%,
    60%,
    75%,
    90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInDown {
    0%,
    100%,
    60%,
    75%,
    90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}



/* Gallery *************************************************/

#abc-gallery .vc_grid-filter.vc_grid-filter-filled.vc_grid-filter-color-grey>.vc_grid-filter-item{
	background-color: transparent;
	color: #fff;
	font-size: 22px;
}
#abc-gallery .vc_grid-filter.vc_grid-filter-filled.vc_grid-filter-color-grey>.vc_grid-filter-item.vc_active{
	background-color: #E1BF7A;
}
#abc-gallery .vc_grid-filter.vc_grid-filter-filled.vc_grid-filter-color-grey>.vc_grid-filter-item.vc_active span{
	color: #fff;
}
#abc-gallery .vc_grid-filter.vc_grid-filter-filled>.vc_grid-filter-item {
	border: 0;
	border-radius: 0;
	padding: 1px 20px;
}
#abc-gallery .vc_grid-filter{
	margin-bottom: 45px;
}
#abc-gallery .vc_gitem-zone.vc_gitem-zone-c{
	background-color: transparent !important;
}
#abc-gallery h4{
	color: #fff;
	font-size: 22px;
}
#abc-gallery .vc_btn3-container{
	display: none;
}
#abc-gallery .vc_gitem_row .vc_gitem-col{
	padding-left: 0;
	padding-right: 0;
}

.abc-related-posts {
	margin-top: 86px;
}
.abc-related-posts h3{
	margin-bottom: 25px;
}
@media (min-width: 768px){
	.abc-related-posts .post-image-1{
		margin-bottom: 75px;
	}
}
.abc-related-posts .post-image{
	position: relative;
}
.abc-related-posts .post-image:not(.post-image-1){
	max-width: 764px;
	height: 383px;
	overflow: hidden;
}
.abc-related-posts .post-image:not(.post-image-1) img {
	height: 100%;
	object-fit: cover;
}
.abc-related-posts .post-image .icon-play{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 68px;
	height: 68px;
	transform: translate(-34px, -34px);
	-moz-transform: translate(-34px, -34px);
	-webkit-transform: translate(-34px, -34px);
	color: #fff;
}
.abc-related-posts .post-image .icon-play:before{
	font-size: 67px;
}

/* Contact Us *************************************************/

.form-control {
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    border-radius: 0;
    border-top: 0;
    margin-bottom: 40px;
    color: #fff;
    font-size: 16px;
    resize: none;
    border-color: #444;
}
.form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
}
@media (min-width: 1024px){
	#abc-contact-form:before {
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 49%;
	    bottom: 0;
	    background-color: #141414;
	    height: 100%;
	}
	.wpcf7 form .wpcf7-response-output{
		width: 45%;
	}
}
#abc-contact-form p{
	margin-bottom: 54px;
}
.google-map .ultimate-map-wrapper{
	margin-bottom: 0 !important;
}
.wpcf7-submit {
    border: 0;
    padding: 5px 40px 5px 20px;
    background-image: url(images/arrow.svg);
    background-size: 16px 13px;
    background-repeat: no-repeat;
    background-position: 90% center;
    background-color: #ED3237;
}
.wpcf7-submit:focus {
    background-position: 120% center;
}
.country-picker select.form-control{
	width: auto;
	display: inline-block;
	border-radius: 30px;
    background: transparent;
    padding: 5px 60px 5px 30px;
    color: #fff;
    height: auto;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(images/down-arrow.svg);
	background-position: 85%  center;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: 15px auto;
	border: 1px solid #444;
}
@media (min-width: 992px){
	.country-picker select.form-control{
	    margin-left: 30px;
	}
}
select::-ms-expand {
    display: none; 
}
@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}
.country-picker select.form-control option {
	color: #000;
}
.address-slider .active-rs-slide rs-sbg-wrap rs-sbg {
	background-color: #ED3237 !important;
}
.address-slider .address:not(:first-child) {
    display: none;
}
.custom.tparrows {
	border: 1px dashed #ED3237;
    border-radius: 50%;
}
.custom.tparrows:before {
	line-height: 20px !important;
	text-align: left;
    padding: 10px 10px 10px 4px;
}
.custom.tparrows.tp-rightarrow:before {
	text-align: right !important;
}
.custom.tparrows:after{
	width: 10px;
	height: 1px;
	border-top: 1px dashed #fff;
	content: '';
	position: absolute;
    top: 19px;
    left: 15px;
}
@media (max-width: 767px){
	.wpcf7-form label{
		width: 100%;
	}
}


/* China ********************************************************/

@media (min-width: 768px){
	.china-slider .china-slider-content {
		padding-left: 72px;
	}
	.title-vertical > .vc_column-inner{ 
		position: relative;
	}
	.title-vertical > .vc_column-inner > .wpb_wrapper h2 {
	    white-space: nowrap;
	    transform: rotate(-90deg);
	    -moz-transform: rotate(-90deg);
	    -webkit-transform: rotate(-90deg);
	    position: absolute;
	    left: 60%;
	    bottom: 0;
	    transform-origin: 0 0;
	    width: 647px;
		margin-bottom: 0;
	}
}
@media (min-width: 1024px){
	.title-vertical > .vc_column-inner > .wpb_wrapper h2 {
		left: 75%;
	}
}
.team-member {
    max-height: 377px;
    object-fit: cover;
    width: 100%;
    object-position: top;
}
.border-l-b-1 {
	position: relative;
	margin-bottom: 90px;
}
@media (min-width: 768px){
	.border-l-b-1:before{
		position: absolute;
		left: 0;
		top: 0;
		bottom: -120px;
		width: 1px;
		content: '';
		background: -moz-linear-gradient(top, #000000 0%, #453a25 25%, #e1bf7a 50%, #453a25 75%, #000000 100%);
	    background: -webkit-linear-gradient(top, #000000 0%,#453a25 25%,#e1bf7a 50%,#453a25 75%,#000000 100%);
	    background: linear-gradient(to bottom, #000000 0%,#453a25 25%,#e1bf7a 50%,#453a25 75%,#000000 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );	
	}
}
.border-l-b-1:after{
	position: absolute;
	left: -100px;
	bottom: 0;
	width: 50%;
    height: 1px;
	content: '';
	background: -moz-linear-gradient(left, #000000 0%, #453a25 20%, #e1bf7a 50%, #453a25 80%, #000000 100%);
    background: -webkit-linear-gradient(left, #000000 0%,#453a25 20%,#e1bf7a 50%,#453a25 80%,#000000 100%);
    background: linear-gradient(to right, #000000 0%,#453a25 20%,#e1bf7a 50%,#453a25 80%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}
@media (max-width: 767px){
	.border-l-b-1:after{
		left: 0;
		width: 100%;
	}
	.border-l-b-1  .custom.tparrows{
		display: none;	
	}
}
.custom.tparrows {
    border: 1px dashed #ED3237;
    border-radius: 50%;
}
.custom.tparrows:after {
    content: '';
    width: 16px;
    height: 1px;
    border-top: 1px dashed #fff;
    position: absolute;
    top: 19px;
    left: 13px;
}
.map-container-block .vc_btn3.vc_btn3-color-orange, .map-container-block .vc_btn3.vc_btn3-color-orange.vc_btn3-style-flat {
    color: #000;
    background-color: #E1BF7A;
}
.border-r, .border-l{
	position: relative;
}
.border-r:before, .border-l:after{
	position: absolute;
	right: -1px;
	top: 0;
	bottom: 0px;
	width: 1px;
	content: '';
	background: -moz-linear-gradient(top, #000000 0%, #453a25 25%, #e1bf7a 50%, #453a25 75%, #000000 100%);
    background: -webkit-linear-gradient(top, #000000 0%,#453a25 25%,#e1bf7a 50%,#453a25 75%,#000000 100%);
    background: linear-gradient(to bottom, #000000 0%,#453a25 25%,#e1bf7a 50%,#453a25 75%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}
.border-l:after{
	right: auto;
	left: -1px;
}
.border-b-h:before{
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: -moz-linear-gradient(left, #e1bf7a 20%, #453a25 75%, #000000 100%);
    background: -webkit-linear-gradient(left, #e1bf7a 20%,#453a25 75%,#000000 100%);
    background: linear-gradient(to right, #e1bf7a 20%,#453a25 75%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1bf7a', endColorstr='#000000',GradientType=1 );
}
.border-b-h {
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
}
.border-b-h:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 15px;
    height: 1px;
    background: -moz-linear-gradient(left, #e1bf7a 20%, #453a25 75%, #000000 100%);
    background: -webkit-linear-gradient(left, #e1bf7a 20%,#453a25 75%,#000000 100%);
    background: linear-gradient(to right, #e1bf7a 20%,#453a25 75%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1bf7a', endColorstr='#000000',GradientType=1 );
}
.map-container-block .map-container {
	display: none;
}


/* Brands *************************************************/

.brands-grid .image-caption h2 {
	width: 100%;
	color: #E1BF7A;
	font-size: 25px;
	min-height: 72px;
	position: relative;
}
.brands-grid .image-caption h2:before{
	content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 1px;
    background: -moz-linear-gradient(left, #e1bf7a 20%, #453a25 75%, #000000 100%);
    background: -webkit-linear-gradient(left, #e1bf7a 20%,#453a25 75%,#000000 100%);
    background: linear-gradient(to right, #e1bf7a 20%,#453a25 75%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1bf7a', endColorstr='#000000',GradientType=1 );
}
.brands-grid .image-caption .vc_figure{
	width: 100%;
}
.brands-grid .border-b-h{
	min-height: 80px;
    margin-bottom: 30px;
}
.brands-grid .border-b-h:before{
	left: 15px;
}
.brands-grid .border-r{
	padding-top: 50px;
	padding-bottom: 50px;
}
@media (max-width: 767px){
	.border-r:after {
	    position: absolute;
	    left: -1px;
	    top: 0;
	    bottom: 0px;
	    width: 1px;
	    content: '';
	    background: -moz-linear-gradient(top, #000000 0%, #453a25 25%, #e1bf7a 50%, #453a25 75%, #000000 100%);
	    background: -webkit-linear-gradient(top, #000000 0%,#453a25 25%,#e1bf7a 50%,#453a25 75%,#000000 100%);
	    background: linear-gradient(to bottom, #000000 0%,#453a25 25%,#e1bf7a 50%,#453a25 75%,#000000 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
	}
}


.countries .icon{
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	user-select: none ;
	background-image: url(https://www.abcgroupinternational.com/wp-content/themes/abc/images/world.svg);
	background-repeat: no-repeat;
  }
  .country_list {
	position: absolute;
	display: flex;
	right: 100%;
	list-style: none;
	top: 0;
	display:none ;
	margin-right: 10px;
  }
  .country_list li {
	position: relative;
	opacity: 0 ;
	transition: all ease .3s ;
	transform: translateX(50px);
	transition-delay: .1s ;
	padding: 0 15px ;
  }
  .country_list .current_page_item{
  padding-left: 37px;
  }

  .country_list[aria-expanded="true"] li{
	opacity : 1 ;
	transform: translateX(0px);
  }
  .country_list[aria-expanded="true"] li:nth-child(7){
	transition-delay: .1s ;
  }
  .country_list[aria-expanded="true"] li:nth-child(6){
	transition-delay: .2s ;
  }
  .country_list[aria-expanded="true"] li:nth-child(5){
	transition-delay: .3s ;
  }
  .country_list[aria-expanded="true"] li:nth-child(4){
	transition-delay: .4s ;
  }
  .country_list[aria-expanded="true"] li:nth-child(3){
	transition-delay: .5s ;
  }
  .country_list[aria-expanded="true"] li:nth-child(2){
	transition-delay: .6s ;
  }
  .country_list[aria-expanded="true"] li:nth-child(1){
	transition-delay: .7s ;
  }
  .country_list li a{
	  white-space: nowrap !important;
  }
  .country_list li a:hover{
	color: #E1BF7A;
  }
  .nav-link{
  padding:5px 0;
  }
  .country_list .current_page_item[data-country] .nav-link span{
	  position: relative;
  }
  .country_list .current_page_item[data-country] .nav-link span::before {
	content: "";
	width: 20px;
	height: 15px;
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background-repeat: no-repeat;
	background-size: 100% ;
	background-position: center;
	left: -24px;
	
  }
  .country_list .current_page_item[data-country="india"] .nav-link span::before {
	background-image: url(./images/flags/india.png);
  }
  .country_list .current_page_item[data-country="qatar"] .nav-link span::before {
	background-image: url(./images/flags/qatar.png);
  }
  .country_list .current_page_item[data-country="oman"] .nav-link span::before {
	background-image: url(./images/flags/oman.png);
  }
  .country_list .current_page_item[data-country="uae"] .nav-link span::before {
	background-image: url(./images/flags/uae.png);
  }
  .country_list .current_page_item[data-country="tanzania"] .nav-link span::before {
	background-image: url(./images/flags/tanzania.png);
  }
  .country_list .current_page_item[data-country="uganda"] .nav-link span::before {
	background-image: url(./images/flags/uganda.png);
  }
  .country_list .current_page_item[data-country="rwanda"] .nav-link span::before {
	background-image: url(./images/flags/rwanda.png);
  }
  .icon {
	color: red;
	font-weight: 700;
	font-size: larger;
  }
  .country_list .current-menu-item:after {
	content: "";
	width: 15px;
	height: 4px;
	border-radius: 4px;
	background-color: #E1BF7A;
	display: block;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
  }


	
  @media (max-width: 1169px) {
	.country_list {
	  position: absolute ;
	  top: 0;
	  right: 0;
	  background-color: rgba(0, 0, 0, 0.8);
	  flex-direction: column ;
	  justify-content: center ;
	  align-items: center;
	  width: 130px ;
	  right: 0 ;
	  top: 100% ;
	   margin-right: 0;
		padding:5px 0;
	}
	.item {
	  padding: 5px 0;
	}
	   .country_list li {
		   transition:none;
	  transform: translateY(-50px);
	}
	.country_list[aria-expanded="true"] li{
	  transform: translateY(0px);
	}
	.country_list[aria-expanded="true"] li:nth-child(1){
	  transition-delay: .1s ;
	}
	.country_list[aria-expanded="true"] li:nth-child(2){
	  transition-delay: .2s ;
	}
	.country_list[aria-expanded="true"] li:nth-child(3){
	  transition-delay: .3s ;
	}
	.country_list[aria-expanded="true"] li:nth-child(4){
	  transition-delay: .4s ;
	}
	.country_list[aria-expanded="true"] li:nth-child(5){
	  transition-delay: .5s ;
	}
	.country_list[aria-expanded="true"] li:nth-child(6){
	  transition-delay: .6s ;
	}
	.country_list[aria-expanded="true"] li:nth-child(7){
	  transition-delay: .7s ;
	}
  }
  


  @media screen and (max-width:1169px){
	.country_list .current-menu-item:after{
		display:none !important;
	}
	.country_list .current-menu-item a{
		position: relative;
		right: -10px ;
	}
  }


  @media screen and (max-width:1169px){
	.country_list .current_page_item{
		padding-left: 0px;
	}
  }